.header {
    display: flex;
    align-items: center;
    background-color: #1e5f74
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.header .logo {
    max-height: 110px;
    margin-left: 20px;
}

.header .title-group {
    padding-left: 50px;
}

.header .title-group i {
    padding-right: 5px;
}