.sidenav {
    background-color: #1e5f74;
    width: 200px;
}

.sidenav a {
    color: rgb(255, 255, 255);
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: rgb(238, 231, 231);
}